*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: fixed; */
    /* left: 0rem;
    right: 0rem;
    bottom: 0rem; */
    
}

.heading{
    font-size: 4.5rem;
    color: coral;
    font-weight: bolder;
    /* font-style: oblique; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 1px solid transparent;
    /* margin-top: 20%; */
}
.home{
text-decoration: none;
color: rgb(219, 66, 91);
font-size: 0.8rem;
margin-right: 88%;
border: 2px solid;
}
.topp{
    text-decoration: none;
    color: rgb(219, 66, 91);
    font-size: 0.8rem;
    border: 2px solid;
    }
.hardey{
    margin-top: 10%;
    color: rgb(219, 66, 91);
}
.intro{
    font-style: italic;
    font-size: 2rem;
    color: rgb(219, 66, 91);
    /* margin-top: 20%; */
    text-align: center;
    
}
.laptop{
    margin-left: 17rem;
    font-size: 2rem;
   
}
.lapi{
    margin-top: 15vh;
    
}
.background{
    background-image: url(/background/back\ 10.jpg);
    background-size: cover;
    min-height: 50vh;
    background-attachment: fixed;
    
}
.phone{
    margin-left: 41%;
    font-size: 2rem;
}
.img-auto{
    
}
.img-phone{
    margin-left: 30%; 
    /* border-radius: 50%;   */
}
.img1{
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 15%;
}
.img2{
    border: 2px solid black;
    border-radius: 50%;
}
/* .back-2{
    background-image: url(/background/back\ 4.jpg);
    border: 2px solid burlywood;
    background-size: cover;
} */
.name{
    text-align: center;
    color: rgba(219, 66, 91, 0.795);
    font-size: 3rem;
}
.apple{
    margin-left: 21%;
    font-size: 2rem;
}
.dell{
    margin-left: 44%;
    font-size: 2rem;
}
.alienware{
    margin-left: 18%;
    font-size: 2rem;
}
.samsung{
    margin-left: 38%;
    font-size: 2rem;
}
.s21{
    margin-left: 19%;
    font-size: 2rem;
}
.iphone{
    margin-left: 40%;
    font-size: 2rem;
}
.tecno{
    margin-left: 21%;
    font-size: 2rem;
}
.infinix{
    margin-left: 42%;
    font-size: 2rem;
}
.jbl{
    margin-left: 23%;
    font-size: 2rem;
}
.earpod{
    margin-left: 43%;
    font-size: 2rem;
}
.mini{
    margin-left: 22%;
    font-size: 2rem;
}
.zealot{
    margin-left: 43%;
    font-size: 2rem;
}
.tello{
    margin-left: 21%;
    font-size: 2rem;
}
.ifly{
    margin-left: 43%;
    font-size: 2rem;
}
.parrot{
    margin-left: 20%;
    font-size: 2rem;
}
.hardeyfly{
    margin-left: 39%;
    font-size: 2rem;
}